#include <cnrt.h>
#include <cstdlib>
#include <math.h>
#include <random>
#include <stdio.h>

#define EPS 1e-2

// 1. Definition of generated function
{}
int main(void) {
    cnrtQueue_t queue;
    CNRT_CHECK(cnrtSetDevice(0));
    CNRT_CHECK(cnrtQueueCreate(&queue));

    cnrtNotifier_t start, end;
    CNRT_CHECK(cnrtNotifierCreate(&start));
    CNRT_CHECK(cnrtNotifierCreate(&end));

    std::random_device seed;
    std::ranlux48 engine(seed());
    std::uniform_real_distribution<> distrib(0, 100);

    // 2. Host memory allocation
{}
    // 3. Maximum tensor length
    for (int i = 0; i < {}; i++) {
        // 4. Host memory initialization
{}
    }

    // 5. Device memory allocation
{}
    // 6. Device memory initialization
{}
    int warmupRounds = 100;
    int timingRounds = 200;

    for (int i = 0; i < warmupRounds; i++) {
        // 7. Warmup
        {}
    }
    CNRT_CHECK(cnrtPlaceNotifier(start, queue));
    for (int i = 0; i < timingRounds; i++) {
        // 8. Execute
        {}
    }
    cnrtQueueSync(queue);
    CNRT_CHECK(cnrtPlaceNotifier(end, queue));

    // 9. Copy result to host
    {}

    // 10. Output tensor length
    for (int i = 0; i < {}; i++) {
        // 11. Calculate baseline result
        {}
        if (fabsf(host_dest[i] - res) > EPS) {
            printf("Pos %d: %f expected, but %f got!\n", i, res, host_dest[i]);
        }
    }

    float timeTotal;
    CNRT_CHECK(cnrtNotifierDuration(start, end, &timeTotal));
    printf("Total Time: %.8f ms\n", timeTotal / timingRounds / 1000.0);

    CNRT_CHECK(cnrtQueueDestroy(queue));

    // 12. Free pointers
{}
    return 0;
}
